

/* @override http://localhost:3501/styles/main.css */

/* 
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
@import url('../css/whiteandclean.css');
Will be compiled down to a single stylesheet with your sass files */
@import url('../css/style.css');
@import url("//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css");
@import url('bootstrap.min.css');
@import url('bootstrap-responsive.min.css');
.projects li{
	margin-left: 1% !important;
	overflow: hidden;
	height: 250px;
}


.carousel img{
	width: 100%;
}
.page{
	padding-top: 25px;
}
.bio h1{
	text-align: center;
	white-space: nowrap;
	font-size: 2.3em;
}

