<div id="books-row" class="row-fluid">
	<div class="span12">
		<div class="page-header">
		  <h1>My Library <small>books that I have purchased and read.</small></h1>
		</div>
		
		
		<table width="720" id="quote" cellpadding="0" cellspacing="0">
		    <tbody><tr>
		        <th colspan="2">Item Details</th>
		        <th width="137">Qty</th>
		      <th width="191">Buyback Price</th>
		      <th width="139">Total</th>
		    </tr>


		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0470284684.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ADOBE AIR BIBLE			</strong><br>

								ISBN-10 : 0470284684<br>
					<b>ISBN-13 : 9780470284681</b><br>
					            <a href="quote.php?remove=9780470284681"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780470284681]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0470135603.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ACTIONSCRIPT 3.0 BIBLE			</strong><br>

								ISBN-10 : 0470135603<br>
					<b>ISBN-13 : 9780470135600</b><br>
					            <a href="quote.php?remove=9780470135600"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780470135600]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">            <img src="http://www.bookitbuyback.com/public/images/no-image.png" height="74" width="58" alt="No Image Available">
		                </td>
			<td width="170" class="bookinfo"><strong>
								PROFESSIONAL ADOBE FLEX 2 (PROGR			</strong><br>

								ISBN-10 : 0470102675<br>
					<b>ISBN-13 : 9780470102671</b><br>
					            <a href="quote.php?remove=9780470102671"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780470102671]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1590598598.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								THE ESSENTIAL GUIDE TO DREAMWEAV			</strong><br>

								ISBN-10 : 1590598598<br>
					<b>ISBN-13 : 9781590598597</b><br>
					            <a href="quote.php?remove=9781590598597"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781590598597]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0672328178.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								PHP PHRASEBOOK			</strong><br>

								ISBN-10 : 0672328178<br>
					<b>ISBN-13 : 9780672328176</b><br>
					            <a href="quote.php?remove=9780672328176"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780672328176]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">            <img src="http://www.bookitbuyback.com/public/images/no-image.png" height="74" width="58" alt="No Image Available">
		                </td>
			<td width="170" class="bookinfo"><strong>
								BEGINNING ADOBE AIR: BUILDING AP			</strong><br>

								ISBN-10 : 0470229047<br>
					<b>ISBN-13 : 9780470229040</b><br>
					            <a href="quote.php?remove=9780470229040"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780470229040]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/047022388X.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								PROFESSIONAL RUBY ON RAILS (PROG			</strong><br>

								ISBN-10 : 047022388X<br>
					<b>ISBN-13 : 9780470223888</b><br>
					            <a href="quote.php?remove=9780470223888"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780470223888]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0470069155.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								BEGINNING RUBY ON RAILS			</strong><br>

								ISBN-10 : 0470069155<br>
					<b>ISBN-13 : 9780470069158</b><br>
					            <a href="quote.php?remove=9780470069158"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780470069158]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1933988509.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								FLEXIBLE RAILS: FLEX 3 ON RAILS 			</strong><br>

								ISBN-10 : 1933988509<br>
					<b>ISBN-13 : 9781933988504</b><br>
					            <a href="quote.php?remove=9781933988504"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781933988504]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1932394699.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								RUBY FOR RAILS: RUBY TECHNIQUES 			</strong><br>

								ISBN-10 : 1932394699<br>
					<b>ISBN-13 : 9781932394696</b><br>
					            <a href="quote.php?remove=9781932394696"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781932394696]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1933988355.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								JQUERY IN ACTION			</strong><br>

								ISBN-10 : 1933988355<br>
					<b>ISBN-13 : 9781933988351</b><br>
					            <a href="quote.php?remove=9781933988351"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781933988351]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1933988487.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ADOBE AIR IN ACTION			</strong><br>

								ISBN-10 : 1933988487<br>
					<b>ISBN-13 : 9781933988481</b><br>
					            <a href="quote.php?remove=9781933988481"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781933988481]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1590598458.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								OBJECT-ORIENTED ACTIONSCRIPT 3.0			</strong><br>

								ISBN-10 : 1590598458<br>
					<b>ISBN-13 : 9781590598450</b><br>
					            <a href="quote.php?remove=9781590598450"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781590598450]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1590599365.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								CREATING MASHUPS WITH ADOBE FLEX			</strong><br>

								ISBN-10 : 1590599365<br>
					<b>ISBN-13 : 9781590599365</b><br>
					            <a href="quote.php?remove=9781590599365"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781590599365]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1430225416.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								THE ESSENTIAL GUIDE TO 3D IN FLA			</strong><br>

								ISBN-10 : 1430225416<br>
					<b>ISBN-13 : 9781430225416</b><br>
					            <a href="quote.php?remove=9781430225416"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781430225416]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1590598946.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								FOUNDATION FLEX FOR DEVELOPERS: 			</strong><br>

								ISBN-10 : 1590598946<br>
					<b>ISBN-13 : 9781590598948</b><br>
					            <a href="quote.php?remove=9781590598948"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781590598948]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1590598962.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ADVANCED FLEX APPLICATION DEVELO			</strong><br>

								ISBN-10 : 1590598962<br>
					<b>ISBN-13 : 9781590598962</b><br>
					            <a href="quote.php?remove=9781590598962"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781590598962]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1430210273.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ADVANCED FLEX 3 (FRIENDS OF ED A			</strong><br>

								ISBN-10 : 1430210273<br>
					<b>ISBN-13 : 9781430210276</b><br>
					            <a href="quote.php?remove=9781430210276"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781430210276]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1590598768.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								FLEX SOLUTIONS: ESSENTIAL TECHNI			</strong><br>

								ISBN-10 : 1590598768<br>
					<b>ISBN-13 : 9781590598764</b><br>
					            <a href="quote.php?remove=9781590598764"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781590598764]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1590596145.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								CSS MASTERY: ADVANCED WEB STANDA			</strong><br>

								ISBN-10 : 1590596145<br>
					<b>ISBN-13 : 9781590596142</b><br>
					            <a href="quote.php?remove=9781590596142"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781590596142]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1590597338.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								THE ESSENTIAL GUIDE TO FLEX 2 WI			</strong><br>

								ISBN-10 : 1590597338<br>
					<b>ISBN-13 : 9781590597330</b><br>
					            <a href="quote.php?remove=9781590597330"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781590597330]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/012374265X.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								WEB APPLICATION DESIGN PATTERNS 			</strong><br>

								ISBN-10 : 012374265X<br>
					<b>ISBN-13 : 9780123742650</b><br>
					            <a href="quote.php?remove=9780123742650"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


								<select name="qty[9780123742650]" onchange="document.forms['quote'].submit();">
									<option value="0">0</option>
									<option value="1" selected="">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8-Max</option>
								</select>

		            	  </td>   
		        <td>
		                        <select name="edition[9780123742650]" onchange="document.forms['quote'].submit();">
		                <option value="Standard US Edition" selected="selected">Standard US Edition</option>
		                <option value="International Edition">International Edition</option>
		                <option value="Teacher/Instructor Edition">Teacher/Instructor Edition</option>
		            </select><br>
		                        			<strong>
					</strong><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.71</strong><br></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596101392.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								PHP HACKS: TIPS &amp; TOOLS FOR CREA			</strong><br>

								ISBN-10 : 0596101392<br>
					<b>ISBN-13 : 9780596101398</b><br>
					            <a href="quote.php?remove=9780596101398"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596101398]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596529856.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								FLEX 3 COOKBOOK: CODE-RECIPES, T			</strong><br>

								ISBN-10 : 0596529856<br>
					<b>ISBN-13 : 9780596529857</b><br>
					            <a href="quote.php?remove=9780596529857"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596529857]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/059652689X.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								PROGRAMMING FLEX 2: THE COMPREHE			</strong><br>

								ISBN-10 : 059652689X<br>
					<b>ISBN-13 : 9780596526894</b><br>
					            <a href="quote.php?remove=9780596526894"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596526894]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596101694.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								AJAX HACKS: TIPS &amp; TOOLS FOR CRE			</strong><br>

								ISBN-10 : 0596101694<br>
					<b>ISBN-13 : 9780596101695</b><br>
					            <a href="quote.php?remove=9780596101695"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596101695]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596100655.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ECLIPSE IDE POCKET GUIDE			</strong><br>

								ISBN-10 : 0596100655<br>
					<b>ISBN-13 : 9780596100650</b><br>
					            <a href="quote.php?remove=9780596100650"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596100650]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596520646.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								GETTING STARTED WITH FLEX 3: AN 			</strong><br>

								ISBN-10 : 0596520646<br>
					<b>ISBN-13 : 9780596520649</b><br>
					            <a href="quote.php?remove=9780596520649"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596520649]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596007779.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								CSS POCKET REFERENCE (POCKET REF			</strong><br>

								ISBN-10 : 0596007779<br>
					<b>ISBN-13 : 9780596007775</b><br>
					            <a href="quote.php?remove=9780596007775"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596007775]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596514816.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								RUBY POCKET REFERENCE (POCKET RE			</strong><br>

								ISBN-10 : 0596514816<br>
					<b>ISBN-13 : 9780596514815</b><br>
					            <a href="quote.php?remove=9780596514815"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596514815]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596100507.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								XML POCKET REFERENCE (POCKET REF			</strong><br>

								ISBN-10 : 0596100507<br>
					<b>ISBN-13 : 9780596100506</b><br>
					            <a href="quote.php?remove=9780596100506"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596100506]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596513917.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								APOLLO FOR ADOBE FLEX DEVELOPERS			</strong><br>

								ISBN-10 : 0596513917<br>
					<b>ISBN-13 : 9780596513917</b><br>
					            <a href="quote.php?remove=9780596513917"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596513917]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596514018.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								LEARNING PHP &amp; MYSQL: STEP-BY-ST			</strong><br>

								ISBN-10 : 0596514018<br>
					<b>ISBN-13 : 9780596514013</b><br>
					            <a href="quote.php?remove=9780596514013"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596514013]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596526946.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ESSENTIAL ACTIONSCRIPT 3.0 (ESSE			</strong><br>

								ISBN-10 : 0596526946<br>
					<b>ISBN-13 : 9780596526948</b><br>
					            <a href="quote.php?remove=9780596526948"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596526948]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0977616630.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								AGILE WEB DEVELOPMENT WITH RAILS			</strong><br>

								ISBN-10 : 0977616630<br>
					<b>ISBN-13 : 9780977616633</b><br>
					            <a href="quote.php?remove=9780977616633"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780977616633]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0321480791.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								RAILSSPACE: BUILDING A SOCIAL NE			</strong><br>

								ISBN-10 : 0321480791<br>
					<b>ISBN-13 : 9780321480798</b><br>
					            <a href="quote.php?remove=9780321480798"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780321480798]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596529821.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								BIG BOOK OF APPLE HACKS: TIPS &amp; 			</strong><br>

								ISBN-10 : 0596529821<br>
					<b>ISBN-13 : 9780596529826</b><br>
					            <a href="quote.php?remove=9780596529826"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596529826]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0321293894.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								MACROMEDIA DREAMWEAVER 8 HANDS-O			</strong><br>

								ISBN-10 : 0321293894<br>
					<b>ISBN-13 : 9780321293893</b><br>
					            <a href="quote.php?remove=9780321293893"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780321293893]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596527314.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								RAILS COOKBOOK (COOKBOOKS (O'REI			</strong><br>

								ISBN-10 : 0596527314<br>
					<b>ISBN-13 : 9780596527310</b><br>
					            <a href="quote.php?remove=9780596527310"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596527310]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596529864.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								LEARNING RUBY			</strong><br>

								ISBN-10 : 0596529864<br>
					<b>ISBN-13 : 9780596529864</b><br>
					            <a href="quote.php?remove=9780596529864"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596529864]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596527446.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								AJAX ON RAILS			</strong><br>

								ISBN-10 : 0596527446<br>
					<b>ISBN-13 : 9780596527440</b><br>
					            <a href="quote.php?remove=9780596527440"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596527440]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596101015.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								PHP COOKBOOK: SOLUTIONS AND EXAM			</strong><br>

								ISBN-10 : 0596101015<br>
					<b>ISBN-13 : 9780596101015</b><br>
					            <a href="quote.php?remove=9780596101015"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


								<select name="qty[9780596101015]" onchange="document.forms['quote'].submit();">
									<option value="0">0</option>
									<option value="1" selected="">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25-Max</option>
								</select>

		            	  </td>   
		        <td>
		                        <select name="edition[9780596101015]" onchange="document.forms['quote'].submit();">
		                <option value="Standard US Edition" selected="selected">Standard US Edition</option>
		                <option value="International Edition">International Edition</option>
		                <option value="Teacher/Instructor Edition">Teacher/Instructor Edition</option>
		            </select><br>
		                        			<strong>
					</strong><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$5.42</strong><br></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596529260.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								RESTFUL WEB SERVICES			</strong><br>

								ISBN-10 : 0596529260<br>
					<b>ISBN-13 : 9780596529260</b><br>
					            <a href="quote.php?remove=9780596529260"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


								<select name="qty[9780596529260]" onchange="document.forms['quote'].submit();">
									<option value="0">0</option>
									<option value="1" selected="">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20-Max</option>
								</select>

		            	  </td>   
		        <td>
		                        <select name="edition[9780596529260]" onchange="document.forms['quote'].submit();">
		                <option value="Standard US Edition" selected="selected">Standard US Edition</option>
		                <option value="International Edition">International Edition</option>
		                <option value="Teacher/Instructor Edition">Teacher/Instructor Edition</option>
		            </select><br>
		                        			<strong>
					</strong><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$4.19</strong><br></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596529368.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ADDING AJAX			</strong><br>

								ISBN-10 : 0596529368<br>
					<b>ISBN-13 : 9780596529369</b><br>
					            <a href="quote.php?remove=9780596529369"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596529369]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/067232976X.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								SAMS TEACH YOURSELF PHP, MYSQL A			</strong><br>

								ISBN-10 : 067232976X<br>
					<b>ISBN-13 : 9780672329760</b><br>
					            <a href="quote.php?remove=9780672329760"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780672329760]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0596527527.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								LEARNING WEB DESIGN: A BEGINNER'			</strong><br>

								ISBN-10 : 0596527527<br>
					<b>ISBN-13 : 9780596527525</b><br>
					            <a href="quote.php?remove=9780596527525"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780596527525]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0470081201.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								RUBY ON RAILS FOR DUMMIES			</strong><br>

								ISBN-10 : 0470081201<br>
					<b>ISBN-13 : 9780470081204</b><br>
					            <a href="quote.php?remove=9780470081204"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780470081204]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0470149469.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								WORDPRESS FOR DUMMIES (FOR DUMMI			</strong><br>

								ISBN-10 : 0470149469<br>
					<b>ISBN-13 : 9780470149461</b><br>
					            <a href="quote.php?remove=9780470149461"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780470149461]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/159059858X.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								PRO WEB 2.0 MASHUPS: REMIXING DA			</strong><br>

								ISBN-10 : 159059858X<br>
					<b>ISBN-13 : 9781590598580</b><br>
					            <a href="quote.php?remove=9781590598580"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9781590598580]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/9057681110.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								WEB DESIGN INDEX BY CONTENT .03			</strong><br>

								ISBN-10 : 9057681110<br>
					<b>ISBN-13 : 9789057681110</b><br>
					            <a href="quote.php?remove=9789057681110"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9789057681110]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/1430209771.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								BEGINNING CAKEPHP: FROM NOVICE T			</strong><br>

								ISBN-10 : 1430209771<br>
					<b>ISBN-13 : 9781430209775</b><br>
					            <a href="quote.php?remove=9781430209775"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


								<select name="qty[9781430209775]" onchange="document.forms['quote'].submit();">
									<option value="0">0</option>
									<option value="1" selected="">1</option>
									<option value="2">2-Max</option>
								</select>

		            	  </td>   
		        <td>
		                        <select name="edition[9781430209775]" onchange="document.forms['quote'].submit();">
		                <option value="Standard US Edition" selected="selected">Standard US Edition</option>
		                <option value="International Edition">International Edition</option>
		                <option value="Teacher/Instructor Edition">Teacher/Instructor Edition</option>
		            </select><br>
		                        			<strong>
					Currently not purchasing this item</strong><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.30</strong><br></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/032142316X.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ADOBE FLEX 2: TRAINING FROM THE 			</strong><br>

								ISBN-10 : 032142316X<br>
					<b>ISBN-13 : 9780321423160</b><br>
					            <a href="quote.php?remove=9780321423160"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780321423160]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0321426568.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ADVANCED ACTIONSCRIPT 3 WITH DES			</strong><br>

								ISBN-10 : 0321426568<br>
					<b>ISBN-13 : 9780321426567</b><br>
					            <a href="quote.php?remove=9780321426567"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780321426567]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0321579216.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								ACTIONSCRIPT 3.0 FOR ADOBE FLASH			</strong><br>

								ISBN-10 : 0321579216<br>
					<b>ISBN-13 : 9780321579218</b><br>
					            <a href="quote.php?remove=9780321579218"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780321579218]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>

		    <tr>
		        <td width="81" class="thumb">			<img src="http://images.amazon.com/images/P/0321502914.01.THUMBZZZ.jpg">
					        </td>
			<td width="170" class="bookinfo"><strong>
								FLASH CS3 PROFESSIONAL FOR WINDO			</strong><br>

								ISBN-10 : 0321502914<br>
					<b>ISBN-13 : 9780321502919</b><br>
					            <a href="quote.php?remove=9780321502919"><u><font color="#0000FF"><u>Remove</u></font></u></a><u>        </u></td>
		  <td>			


									<input type="text" name="qty[9780321502919]" value="0" size="2">


		            	  </td>   
		        <td>
		            <b>We are currently not purchasing this item</b><br>

		        </td>
		       <!-- <td><strong></strong></td> -->
		        <td><strong>$0.00</strong></td>
		    </tr>
		    <tr>
		        <th colspan="2"><b>Total</b></th>
		        <th><strong>4</strong></th>
		        <th></th>
		        <th><strong>$10.62</strong></th>
		    </tr>
		</tbody></table>
	</div>
</div>