<div class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">
     <div class="container-fluid">

       <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>

       <a class="brand" href="#">{{App.sitetitle}}</a>

       <!-- Everything you want hidden at 940px or less, place within here -->
       <div class="nav-collapse collapse">
         <!-- .nav, .navbar-search, .navbar-form, etc -->
             <ul class="nav animated pull-right">

               <li ng-repeat="item in App.menu.nav"><a href="{{item.href}}">{{item.title}}</a></li>        

             </ul>
       </div>

     </div>
   </div>
 </div>
