<div class="navbar navbar-fixed-top navbar-inverse">
   <div class="navbar-inner">
     <div class="container-fluid">

       <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>

       <a class="brand" href="#">{{App.sitetitle}}</a>

       <!-- Everything you want hidden at 940px or less, place within here -->
       <div class="nav-collapse collapse">
         <!-- .nav, .navbar-search, .navbar-form, etc -->
             <ul class="nav animated pull-right">

               <li ng-repeat="item in App.menu.nav"><a href="{{item.href}}">{{item.title}}</a></li>        

             </ul>
       </div>

     </div>
   </div>
 </div>
		
	<div class="container">
		<div class="span12">
			<div class="header">
				<div class="row">
					<div class="span2">
						<img src="/assets/jonnie/avatar.png" class="img-polaroid"
						style="width:150px;">
					</div>
					<!--/photo-->
					<div class="span5 margin-bottom-5">
						<div class="name-text">
							Jonnie Spratley
						</div>
						<div class="major-text">
							<i>Software Engineer &amp; JavaScript Expert</i>
						</div>
						<br/>
						<div class="margin-top-5 margin-bottom-5">
							<a href="http://www.linkedin.com/in/jonniespratley" rel="tooltip" data-original-title="LinkedIn" target="_blank">
								<img src="/assets/jonnie/icons/linkedin.png" alt="LinkedIn" width="20">
							</a>
							&nbsp;

							<a href="https://twitter.com/jonniespratley" target="_blank" rel="tooltip" data-original-title="Twitter"><img src="/assets/jonnie/icons/twitter.png" alt="Twitter" width="20"></a>
							&nbsp;
							<a href="http://www.facebook.com/jonniespratley" target="_blank" rel="tooltip" data-original-title="Facebook"><img src="/assets/jonnie/icons/facebook.png" alt="Facebook" width="20"></a>
							&nbsp;
							<a href="https://plus.google.com/108709037018426718960/posts" target="_blank" rel="tooltip" data-original-title="Google Plus"><img src="/assets/jonnie/icons/google.png" alt="Google Plus" width="20"></a>
							&nbsp;
							<a href="skype:jonnie.spratley?call" target="_blank" rel="tooltip" data-original-title="Skype"><img src="/assets/jonnie/icons/skype.png" alt="Skype" width="20"></a>
							&nbsp;
							<a href="https://github.com/jonniespratley" target="_blank" rel="tooltip" data-original-title="Github"><img src="/assets/jonnie/icons/github.png" alt="Github" width="20"></a>

						</div>
						<!--div class="featured-skills">
							<img  src="/assets/jonnie/images/feature-html5.png" style="height:32px" title="HTML5 Expert">
							<img  src="/assets/jonnie/images/feature-design.png" style="height:32px" title="CSS3 Expert">
							<img  src="/assets/jonnie/images/feature-angular.png" style="height:32px" title="Angular.js Expert">
							<img  src="/assets/jonnie/images/feature-mongodb.png" style="height:32px" title="MongoDB Expert">
							<img  src="/assets/jonnie/images/feature-titanium.png" style="height:32px" title="Titanium Mobile Expert">
							<img  src="/assets/jonnie/images/feature-customize.png" style="height:32px" title="Application Design">
							<img  src="/assets/jonnie/images/feature-nodejs.png" style="height:32px" title="Node.js Expert">
						</div-->
					</div>
					<!--/name-->
					<div class="span5 pull-right">
						<div class="span">
							<address class="margin-bottom-5">
								7824 Spring Valley Ave <br/>
								Citrus Heights, CA
							</address>
							<abbr rel="tooltip" data-original-title="Phone">
								P:
							</abbr>
							&nbsp;&nbsp;916-241-3613
							<br>
							<abbr rel="tooltip" data-original-title="Email">
								E:
							</abbr>
							&nbsp;&nbsp;
							<a href="mailto:jonniespratley@me.com">jonniespratley@me.com</a>
							<br>
							<abbr rel="tooltip" data-original-title="Website">
								W:
							</abbr>
							&nbsp;
							<a href="www.jonniespratley.me">www.jonniespratley.me</a>
							<br/>
							<br/>

						</div>
						<div class="span img-polaroid">
							<img src="/assets/jonnie/qrcode.png" style="width:140px;" rel="tooltip" data-original-title="Save my vCard">
						</div>
						<a class="pdf" href="cv.pdf" target="_blank" rel="tooltip" data-original-title="Download as PDF"></a>
					</div>
					<!--/contacts-->
				</div>
			</div>
		</div><!--/12-->

	</div>