<div class="container">
	<div class="header">
		<div class="row">
			<div class="span2">
				<img src="http://jonniespratley.me/assets/jonnie/avatar.png" class="img-polaroid" style="width:150px">
			</div>
			<!--/photo-->
			<div class="span5 margin-bottom-5">
				<div class="name-text">
					Jonnie Spratley
				</div>
				<div class="major-text">
					<i>Software Engineer &amp; JavaScript Expert</i>
				</div>
			</div>
			<!--/name-->
			<div class="span5 pull-right">
				<div class="span">
					<address class="margin-bottom-5">
						7824 Spring Valley Ave <br>
						Citrus Heights, CA
					</address>
					<abbr rel="tooltip" data-original-title="Phone">
						P:
					</abbr>
					&nbsp;&nbsp;916-241-3613
					<br>
					<abbr rel="tooltip" data-original-title="Email">
						E:
					</abbr>
					&nbsp;&nbsp;
					<a href="mailto:jonniespratley@me.com">jonniespratley@me.com</a>
					<br>
					<abbr rel="tooltip" data-original-title="Website">
						W:
					</abbr>
					&nbsp;
					<a href="www.jonniespratley.me">www.jonniespratley.me</a>
					<br>
					<br>
					<div class="margin-top-5 margin-bottom-5">
						<a href="#" rel="tooltip" data-original-title="LinkedIn">
							<img src="/assets/jonnie/icons/linkedin.png" alt="LinkedIn" width="20">
						</a>
						&nbsp;
						<a href="#" rel="tooltip" data-original-title="Twitter"><img src="/assets/jonnie/icons/twitter.png" alt="Twitter" width="20"></a>
						&nbsp;
						<a href="#" rel="tooltip" data-original-title="Facebook"><img src="/assets/jonnie/icons/facebook.png" alt="Facebook" width="20"></a>
						&nbsp;
						<a href="#" rel="tooltip" data-original-title="Google Plus"><img src="/assets/jonnie/icons/google.png" alt="Google Plus" width="20"></a>
						&nbsp;
						<a href="#" rel="tooltip" data-original-title="Skype"><img src="/assets/jonnie/icons/skype.png" alt="Skype" width="20"></a>

					</div>
				</div>
				<div class="span img-polaroid">
					<img src="/assets/jonnie/qrcode.png" style="width:140px" rel="tooltip" data-original-title="Save my vCard">
				</div>
				<a class="pdf" href="cv.pdf" target="_blank" rel="tooltip" data-original-title="Download as PDF"></a>
			</div>
			<!--/contacts-->
		</div>
	</div>
	<div>
	<div id="about" class="page">
		     <div class="row">
				<div class="span12">
					<div id="markdown-content" ng-init="App.loadReadme( 'README.md', '#markdown-content');"></div>
				</div>		
		     </div><!--/row-->
	</div>
</div></div>