<div id="code" class="container">

	<div id="code-row" class="row-fluid">

		<div class="span12">

			<div class="page-header">
			  <h1>Code <small>cut, copy, fork, whatever.</small></h1>
			</div>
			
			
			<legend>Open Source Projects</legend>
			<table id="code-table" class="table table-bordered table-hover">
				<thead>
					<th>Project</th>
					<th>Summary</th>
				</thead>
				<tbody>
					<tr ng-repeat="item in App.content.repos.data">
						<td><a href="{{item.url}}" target="_blank" title="{{item.title}}">{{item.title}}</a></td>
						<td>{{item.body}}</td>
					</tr>
				</tbody>
			</table>




			<legend>iTunes App Store Search</legend>
			<a class="jsbin-embed" href="http://jsbin.com/oracen/14/embed?live">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>
			<br/>
			<br/>

			<legend>jQuery Mobile SmartApp</legend>
			<a class="jsbin-embed" href="http://jsbin.com/ihimac/7/embed?live">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>
			<br/>
			<br/>


			<legend>Angular.js Sidetap Directive</legend>
			<a class="jsbin-embed" href="http://jsbin.com/osatig/21/embed?live">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>
			<br/>
			<br/>


			<legend>Angular.js Dynamic Table</legend>
			<a class="jsbin-embed" href="http://jsbin.com/unuzuh/3/embed?live">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>
			<br/>
			<br/>

			<legend>Angular.js Image Cropper</legend>
			<iframe width="100%" height="300" src="http://jsfiddle.net/JonnieSpratley/vqrjS/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
			<br/>
			<br/>

			<legend>Bootstrap Login Form</legend>
			<a class="jsbin-embed" href="http://jsbin.com/uqaxom/8/embed?live">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>
			<br/>
			<br/>


			<legend>jQuery Mobile Panel Example</legend>
			<a class="jsbin-embed" href="http://jsbin.com/usasut/4/embed?live">JS Bin</a><script src="http://static.jsbin.com/js/embed.js"></script>
			<br/>		
			<br/>




		</div>	
	</div>
</div>