<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">
        Jonnie Spratley
      </a>
			<ul class="nav">
				<li>
					<a href="#">
            Home
          </a>
				</li>
				<li>
					<a href="#">
            About
          </a>
				</li>
				<li>
					<a href="#">
            Contact
          </a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="header">
		<div class="row">
			<div class="span3">
				<img src="http://jonniespratley.me/assets/jonnie/avatar.png" class="img-polaroid" style="width:200px">
			</div>
			<!--/photo-->
			<div class="span5 margin-bottom-5">
				<div class="name-text">
					Jonnie Spratley
				</div>
				<div class="major-text">
					<i>Software Engineer &amp; JavaScript Expert</i>
				</div>
			</div>
			<!--/name-->
			<div class="span4 pull-right">
				<div class="span">
					<address class="margin-bottom-5">
						P.O. Box 12
						<br>
						123 Bingo St
						<br>
						Los Angeles, CA 90230
					</address>
					<abbr rel="tooltip" data-original-title="Phone">
						P:
					</abbr>
					&nbsp;&nbsp;+07765626195
					<br>
					<abbr rel="tooltip" data-original-title="Email">
						E:
					</abbr>
					&nbsp;&nbsp;
					<a href="mailto:contact@domain.com">contact@domain.com</a>
					<br>
					<abbr rel="tooltip" data-original-title="Website">
						W:
					</abbr>
					&nbsp;
					<a href="www.domain.com">www.domain.om</a>
					<br>
					<div class="margin-top-5 margin-bottom-5">
						<a href="#" rel="tooltip" data-original-title="LinkedIn"><img src="img/linkedin.png" alt="LinkedIn" width="20"></a>
						&nbsp;
						<a href="#" rel="tooltip" data-original-title="Twitter"><img src="img/twitter.png" alt="Twitter" width="20"></a>
						&nbsp;
						<a href="#" rel="tooltip" data-original-title="Facebook"><img src="img/facebook.png" alt="Facebook" width="20"></a>
						&nbsp;
						<a href="#" rel="tooltip" data-original-title="Google Plus"><img src="img/googleplus.png" alt="Google Plus" width="20"></a>
					</div>
				</div>
				<div class="span">
					<img src="img/qrcode.jpg" width="75" rel="tooltip" data-original-title="Save my vCard">
				</div>
				<a class="pdf" href="cv.pdf" target="_blank" rel="tooltip" data-original-title="Download as PDF"></a>
			</div>
			<!--/contacts-->
		</div>
	</div>
	<div>
		<h2 id="summary_">
			Summary »
		</h2>
		<p>
			I am a flexible team player who thrives in environments requiring ability
			to prioritize effectively and juggle multiple concurrent projects, and
			a driven achiever with exemplary planning and organizational skills, along
			with a high degree of detail orientation.
		</p>
		<h2 id="education_">
			Education »
		</h2>
		<p>
			I am excellent listener and communicator who effectively brings information
			verbally as well as in writing. Highly analytical thinking with demonstrated
			talent for identifying, scrutinizing, improving, and streamlining complex
			work processes.
		</p>
		<h6 id="sierra_community_college">
			Sierra Community College
		</h6>
		<p>
			<em>
        Computer Science, General, 2005 - 2009
      </em>
			<br>
			Rich Internet Applications Club
		</p>
		<h6 id="bella_vista_high_school">
			Bella Vista High School
		</h6>
		<p>
			<em>
        Diploma, General, 2001 - 2005
      </em>
			<br>
			Four Year Varsity Football
		</p>
		<h2 id="technical_skills_">
			Technical Skills »
		</h2>
		<p>
			I am computer-literate with extensive software proficiency covering a
			variety of applications and programming languages.
		</p>
		<ul>
			<li>
				<strong>
          Databases:
        </strong>
				MySQL, MongoDB, Microsoft SQL Server, CouchDB, IndexedDB
			</li>
			<li>
				<strong>
          Languages:
        </strong>
				PHP5, HTML5, CSS3, JavaScript, ActionScript 3, Titanium Alloy, Ruby, Node.js
			</li>
			<li>
				<strong>
          Development Tools:
        </strong>
				Textmate, Titanium Studio, Eclipse
			</li>
			<li>
				<strong>
          Web Servers:
        </strong>
				Apache, UNIX, Linux, J2EE
			</li>
		</ul>
		<h2 id="employment_history_">
			Employment History »
		</h2>
		<h4 id="director_of_product_design_appmatrix_inc">
			Director of Product Design @ AppMatrix, Inc.
		</h4>
		<p>
			<em>
        August 2011 - Present (1 Year 6 Months)
      </em>
		</p>
		<p>
			Department Lead Developer for new and existing product matrix, manage
			and direct all functions related to creation, enhancement, archiving, and
			documentation for AMI products and services, review and sync working databases
			and API and create ongooing product documentation library for both internal
			operations and external/3rd party developers. Assist in creating product
			development protocols including new mobile product design flow, version
			control and product upgrades, support, internal bench testing, external
			beta launch and 3rd party API integration management.
		</p>
		<p>
			Collaboration with sales/marketing department to meet product release
			dates and delivery timetables. Create document library and required tutorials
			for all product and service releases, upgrades and add-ons.
		</p>
		<p>
			<em>
        *I. AppMatrix Engine *
      </em>
			<br>
			Designed and developed the AppMatrix Engine and its application management,
			implemented the various back-end interfaces and libraries needed for SmartCMS,
			SmartROI, SmartMerchant, SmartAds and SmartPush to function with HTML5,
			JavaScript, PHP and database access using RESTful Web-Service technology.
		</p>
		<ul>
			<li>
				Designed and developed the client-side architecture for AppMatrix Engine
				using HTML5 and Angular.js.
			</li>
			<li>
				Designed and implemented the server-side infrastructure required for the
				AppMatrix Engine using PHP and Node.js.
			</li>
			<li>
				Designed and developed the Mobile API interfaces required for mobile applications
				connecting to the MyAppMatrix backend.
			</li>
		</ul>
		<p>
			<strong>
        II. MyAppMatrix
      </strong>
			<br>
			Content Management System application for AppMatrix, Inc. Products. User
			interface was designed and developed using HTML, CSS and JavaScript. Components
			of the system were developed using a range of technologies including Angular.js,
			Node.js, Twitter Bootstrap, jQuery, and many custom libraries.
		</p>
		<ul>
			<li>
				Prepared the implementation documentation
			</li>
			<li>
				Designed and programmed web application
			</li>
			<li>
				Designed and implemented custom MVC framework
			</li>
			<li>
				Designed and programmed server-side framework
			</li>
		</ul>
		<h4 id="co_founder_cumulousbiz">
			Co-Founder @ Cumulous.biz
		</h4>
		<p>
			<em>
        April 2011 - August 2011 (5 Months)
      </em>
			<br>
			Created entire web application framework with custom dashboard and client
			subscription system. Tons of JavaScript and WordPress Core integration.
		</p>
		<h4 id="web_developer_patterson_properties_inc">
			Web Developer @ Patterson Properties Inc.
		</h4>
		<p>
			<em>
        March 2009 - June 2010 (1 Year 4 Months)
      </em>
			<br>
			Various web duties.
		</p>
		<h4 id="developer_cal_west_graphics">
			Developer @ Cal-West Graphics
		</h4>
		<p>
			<em>
        February 2009 - April 2009 (3 Months)
      </em>
			<br>
			Worked as a Web Developer creating, designing and maintaining client websites.
		</p>
		<h4 id="junior_developer_eventready">
			Junior Developer @ EventReady
		</h4>
		<p>
			<em>
        October 2008 - January 2009 (4 Months)
      </em>
			<br>
			Worked with the lead Senior Developer architecting a re-creation of the
			companies current web application.
		</p>
		<h4 id="shipping_department_deutsche_bank">
			Shipping Department @ Deutsche Bank
		</h4>
		<p>
			<em>
        October 2005 - June 2007 (1 Year 9 Months)
      </em>
			<br>
			Received and stocked company supplies, maintained all product supplies
			throughout office.
		</p>
		<h4 id="server_red_robin">
			Server @ Red Robin
		</h4>
		<p>
			<em>
        June 2005 - October 2006 (1 Year )
      </em>
		</p>
		<h2 id="certifications_">
			Certifications »
		</h2>
		<h4 id="adobe_flex_4_expert">
			Adobe Flex 4 Expert
		</h4>
		<p>
			Adobe License # ADB210125
			<br>
			<em>
        October 2010
      </em>
		</p>
		<h4 id="titanium_certified_application_developer">
			Titanium Certified Application Developer
		</h4>
		<p>
			Appcelerator License # 0df7b57794565725633a9bc21044a99e
			<br>
			<em>
        July 2012
      </em>
		</p>
		<h2 id="publications_">
			Publications »
		</h2>
		<h3 id="flex_application_architecture">
			Flex Application Architecture
		</h3>
		<p>
			<strong>
        Flash &amp; Flex Developers Magazine
      </strong>
			<br>
			<em>
        March 1, 2009
      </em>
			<br>
			The role of the View in a Cairngorm application is to throw events based
			on user actions (such as button clicks, loading, entering of data etc.)
			and bind to the Model for data representation.
			<a href="http://jonniespratley.me/assets/jonnie/publications/3_2009_Flex_Application_Architecture.pdf">
        Read
      </a>
		</p>
		<h4 id="rich_components_with_flash">
			Rich Components With Flash
		</h4>
		<p>
			<strong>
        Flash &amp; Flex Developers Magazine
      </strong>
			<br>
			<em>
        April 1, 2009
      </em>
			<br>
			Creating Rich Components with Flash and Flex have never been so easy,
			you just never hear about, until now. Many designers and developers dislike
			using the Flash CS4 as there primary coding IDE when creating applications,
			website, or even simple banners. Why?
			<a href="http://jonniespratley.me/assets/jonnie/publications/4_2009_Rich_Components_with_Flash_and_Flex.pdf">
        Read
      </a>
		</p>
	</div>
</div>