<div class="container">
	<div id="portfolio-row" class="row-fluid" ng-controller="PortfolioCtrl">
		<div class="span12">
			
			<div class="page-header">
			  <h1>Portfolio <small>a few projects in my workspace.</small></h1>
			</div>


			

		<ul class="thumbnails projects">
				<li class="span4 well" ng-repeat="item in App.content.portfolio.data | orderBy:predicate:reverse">
					<a class="thumbnail" data-toggle="modal" href="#projectDetailsModal" ng-click="App.selectProject(item);">
					   <img alt="image" class="img-" src="http://placehold.it/320x250" ng-src="{{cdn}}{{item.project}}/thumb.png">
		              </a>			  
					<div class="project-body">
				    	<h3 class="project-heading">{{item.title}} </h3>

				  </div>
				</li>
		</ul>






		<!-- @TODO: [Detail Modal] -->
		<div class="modal fade hide" id="projectDetailsModal">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal">×</button>
		    <h3>{{App.project.title}}</h3>
		  </div>
		  <div class="modal-body">
		 <div id="project-markdown-content"></div>
		  </div>
		  <div class="modal-footer">
			<a href="#" class="btn"> <i class="icon-github"></i> View Github</a>
		  </div>
		</div>









		</div>
	</div>
</div>