<div id="posts" class="row-fluid">
	<div class="span12">
		<ul class="list-group list-unstyled posts">
			<li ng-repeat="item in App.Blog.posts" class="list-group-item post">
				<a href="#/blog/post/{{$index}}" class="clearfix">
				<img src="http://placehold.it/80"
				ng-src="{{item.post_image._url}}"
				class="pull-left img-thumbnail"/>
				<h4 class="list-group-item-heading">{{item.post_title}}</h4>
				<p class="list-group-item-text">
					{{item.post_content | truncate:200 }}
				</p> </a>
			</li>
		</ul>
	</div>
</div>
