<div id="code" class="container content">

	<div id="code-row" class="row-fluid">

		<div class="span12">

			<div class="page-header">
			  <h1>Code <small>cut, copy, fork, whatever.</small></h1>
			</div>
			
			
			<legend>Open Source Projects</legend>
			<table id="code-table" class="table table-bordered table-hover">
				<thead>
					<th>Project</th>
					<th>Summary</th>
				</thead>
				<tbody>
					<tr ng-repeat="item in App.content.repos.data">
						<td><a href="{{item.url}}" target="_blank" title="{{item.title}}">{{item.title}}</a></td>
						<td>{{item.body}}</td>
					</tr>
				</tbody>
			</table>





		</div>	
	</div>
</div>