<div id="main">
	
		
		<!-- @TODO: [Contact] -->

		<div id="contact-row" class="row-fluid">
			
			<div class="span12">
				
				
	          <div class="hero-unit no-display">
	            
				<div id="myCarousel" class="carousel slide">
	            <div class="carousel-inner">
	              <div class="item active">
	                <img src="/assets/jonnie/featured/feature1.png" alt="">
	                <div class="carousel-caption">
	                  <h4>First Portfolio label</h4>
	                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	                </div>
	              </div>
	              <div class="item">
	                <img src="/assets/jonnie/featured/feature2.png" alt="">
	                <div class="carousel-caption">
	                  <h4>Second Portfolio label</h4>
	                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	                </div>
	              </div>
	              <div class="item">
	                <img src="/assets/jonnie/featured/feature3.png" alt="">
	                <div class="carousel-caption">
	                  <h4>Third Portfolio label</h4>
	                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
	                </div>
	              </div>
	            </div>
	            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	          </div>


				
					<!-- @TODO: [About] 
					<div id="about-row" class="row-fluid">
						<div class="span12">
							<div id="markdown-content" ng-init="App.loadReadme( '/README.md', '#markdown-content');"></div>
						</div>
					</div>
-->
					<!-- @TODO: [Portfolio] 
					<div id="portfolio-row" class="row-fluid">
						<div class="span12">					
							<div class="page-header">
							  <h1>Portfolio <small>design. create. iterate.</small></h1>
							</div>			
							
									
							<div class="media well" ng-repeat="item in App.content.portfolio.data">

								<a class="pull-left" data-toggle="modal" href="#projectDetailsModal">
									<img alt="image" class="img-polaroid" src="http://placehold.it/75" 
										style="width:135px;"
										ng-click="App.selectProject(item);"
										ng-src="{{cdn}}{{item.project}}/thumb.png">
					              </a>			  
								<div class="media-body">
									<a href="{{item.href}}" class="btn btn-primary pull-right btn-small" ng-show="item.github">View Github</a>
							    	<h4 class="media-heading">{{item.title}} </h4>
									<p>{{item.description}}</p>
								<small class="label label-inverse">{{item.technologies}}</small>
							  </div>
							</div>
							-->
							
							
							<!-- @TODO: [Detail Modal] 
							<div class="modal fade hide" id="projectDetailsModal">
							  <div class="modal-header">
							    <button type="button" class="close" data-dismiss="modal">×</button>
							    <h3>{{App.project.title}}</h3>
							  </div>
							  <div class="modal-body">
							 <div id="project-markdown-content"></div>
							  </div>
							  <div class="modal-footer">
								<a href="#" class="btn"> <i class="icon-github"></i> View Github</a>
							  </div>
							</div>
							-->
							
				       </div><!--/span-->
					</div><!--/row-->
				
			</div>
			
 
			<div class="span4 hidden">
			
				<div class="well">
					<div class="avatar">
	                   <img ng-src="{{App.content.profile.image}}" class="img-polaroid" class="avatar"/>
	               </div><!--/avatar -->
	               <br class="clearfix" />

	               <div class="bio">
	                   <h1>{{App.content.profile.title}}</h1>
						<p>{{App.content.profile.subtitle}}</p>
	               </div><!--/bio -->
	               <br class="clearfix" />

	               <div class="contact">
	                   <p ng-repeat="item in App.content.profile.data">{{item.title}} <i class="icon-{{item.icon}}"></i></p>

	               </div><!--/contact -->
	               <br class="clearfix" />

	               <div class="button hidden-phone center">
	                   <p><a class="btn no-radius btn-resume no-display" href="#" id="print"><i class="icon-print"></i> Print</a> 
	                   <a class="btn no-radius btn-resume no-display" href="javascript:void(location.href='http://www.pdfspot.com/html-to-pdf-converter.aspx?url=' + escape(location.href)+'&pdf_name=' + escape('') + '&pdf_orientation=portrait&pdf_page_size=A4&scripts_enabled=true' )"><i class="icon-download-alt"></i> Download</a> 
	               </div> <!--/button -->
				</div><!--/.well -->
			</div>	

			
		</div>	
</div>