<div class="container content">
	<div id="portfolio-row" class="row-fluid" ng-controller="PortfolioCtrl">
		<div class="span12">
		
		<ul class="list-group list-unstyled posts projects">
				<li class="list-group-item well" ng-repeat="item in App.content.portfolio.data | orderBy:predicate:reverse">
					<a class="pull-left" data-toggle="modal" href="#projectDetailsModal" ng-click="App.selectProject(item);">
					   <img alt="image" class="img-thumbnail" src="http://placehold.it/320x250" ng-src="{{cdn}}{{item.project}}/thumb.png">
		              </a>			  
					<div class="project-body">
				    	<h3 class="project-heading">{{item.title}} </h3>
						<p>{{item.description}}</p>
						<span class="label label-primary">{{item.type}}</span>
				  </div>
				</li>
		</ul>



	
		<!-- @TODO: [Detail Modal] -->
			<div id="projectDetailsModal" class="modal fade">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			        <h4 class="modal-title">
			        	{{App.project.title}}
			        </h4>
			      </div>
			      <div class="modal-body">
					<div id="project-markdown-content"></div>
			      </div>
				<div class="modal-footer clearfix">
					<div class="pull-left">
						<span class="label label-info" ng-show="App.project.technologies">{{App.project.technologies}}</span>
					</div><!--/-->
					<div class="pull-right">
						<a href="{{App.project.local_url}}" ng-show="App.project.local_url" target="_blank" class="btn"> <i class="icon-eye-open"></i> View Demo</a>
						<a href="{{App.project.repo_url}}" ng-show="App.project.repo_url" target="_blank" class="btn"> <i class="icon-github"></i> View Github</a>
					</div>
				  </div>		    </div><!-- /.modal-content -->
			  </div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

	









		</div>
	</div>
</div>